#search-container {
  display: flex;
  justify-content: flex-end; /* align contents to the right */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#date-container {
  display: flex;
  margin-top: 2.5rem;
  justify-content: flex-start
}

.search-box {
  display: flex;
  background-color: #f1f1f1;
  align-items: center;
  border-radius: 10px;
  padding: 6px;
  white-space: nowrap;
    width: 400px;
  outline: none;
}

.search-box input {
  border: none;
  font-size: 18px;
  padding: 2px 2px;
  background-color: #f1f1f1;
  width: 460px;
  outline: none;
}

.search-box .search-icon {
  font-size: 24px;
  color: black;
  margin-right: 10px;
  cursor: pointer;
}


#date-container {

  font-family: "Liberation Serif", serif;
  font-weight: bold;
  font-size: 2rem;
}

#date-value {
  color: #007bff;
}

@media (max-width: 750px) {

    .search-box input {
      border: none;
      font-size: 16px;
      padding: 5px;
      background-color: #f1f1f1;
      width: 210px;
    }

  .search-box {
      display: flex;
      background-color: #f1f1f1;
      align-items: center;
      border-radius: 10px;
      padding: 5px;
      width: 250px;
  }

}