body {
    background-color: orange !important;
}

#box {
    display: block;
    margin: auto;
    background-color: orange;
    border-radius: 40px;
    max-width: 30vw;
}

#picture img {
    max-width: 50vw;
    height: auto;
    border-radius: 40px;
    margin-left: 20px;
}

#submit-button {
    display: flex;
    margin: auto;
    width: 120px;
    justify-content: center;
    font-family: Lucida Sans, serif;
    /*background: radial-gradient(circle at center, transparent, darkgreen);*/
    background-color: darkorange;
    color: Black;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 40px;
    transition: background .5s ease;
}

#submit-button:hover {
  background-color: white;
    color: black;
}

#greeting {
    color: white;
}

#email {
    width: 75%;
}

#password {
    width: 75%;
}

#footer {
    margin-top: 30px;
    font-size: 1rem;
    color: black;
    line-height: 0;
}

#footer span {
    color: #007bff;
}

/* For devices with a screen width of 768px or less */
@media (max-width: 768px) {

  #picture img {
    max-width: 40vw;
    margin-left: 5px;
      margin-top: 50%;
  }

  #submit-button {
      font-size: 1rem;
    width: 40%;
  }
  #footer {
      font-size: 11px;
  }
}

/* For devices with a screen width of 576px or less */
@media (max-width: 576px) {
    body {
        background-image: url("https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnVzaW5lc3MlMjBtYW4lMjBhbmQlMjB3b21hbnxlbnwwfHwwfHw%3D&w=1000&q=80");
        background-size: cover;
        background-position: center center;
    }
  #box {
    max-width: 80vw;
    border-radius: 20px;
  }

  #picture img {
      display: none;
    max-width: 40vw;
    margin-left: 5px;
      margin-top: 50%;
  }

  #email, #password {
    width: 100%;
  }

  #submit-button {
    width: 100%;
    font-size: 16px;
  }

  #footer {
    font-size: 10px;
  }
}