@media (max-width: 767px) {
    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .form-group:nth-child(odd) label, .form-group:nth-child(odd) select {
        width: 100%;
    }
    .form-group:nth-child(even) label {
        width: 30%;
    }
    .form-group:nth-child(even) select {
        width: 30%;
    }
}

#graph-form {
    display: flex;
    margin: auto;
    justify-content: center;
}

#submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#plot-1-year {
    margin-right: 5px;
}

#plot-6-months {
    margin-right: 5px;
}

#plot-1-month {
    margin-right: 5px;
}
